.DS_Store
.gradle/file-system.probe
.gradle/8.6/gc.properties
.gradle/8.6/checksums/checksums.lock
.gradle/8.6/checksums/md5-checksums.bin
.gradle/8.6/checksums/sha1-checksums.bin
.gradle/8.6/dependencies-accessors/gc.properties
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileChanges/last-build.bin
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/8.6/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
build/resolvedMainClassName
build/classes/java/main/META-INF/spring-configuration-metadata.json
build/classes/java/test/capstone/facefriend/FacefriendApplicationTests.class
build/libs/facefriend-0.0.1-SNAPSHOT-plain.jar
build/libs/facefriend-0.0.1-SNAPSHOT.jar
build/reports/tests/test/index.html
build/reports/tests/test/classes/capstone.facefriend.FacefriendApplicationTests.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/capstone.facefriend.html
build/resources/main/application.yml
build/resources/main/static/favicon.ico
build/resources/main/static/index.html
build/test-results/test/TEST-capstone.facefriend.FacefriendApplicationTests.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/bootJar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
src/main/resources/application.yml
.env
docker-compose.yml
Dockerfile
