@media (max-width: 600px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 600px) {
  html {
      font-size: 16px;
  }
}

@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("./Fonts/Pretendard-Medium.otf") format('opentype'),
}

body {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #525463;
}

h2 {
  margin: 0;
}

.primary {
  color: #FF7871
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.background {
  background-color: #FFECEB;
}