
.oval {
  width: 100vw; 
  height: calc(100vw * 16 / 9); 
  background-color: #FFECEB; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  margin-top: 20rem;
}

.rectangle {
  width: 100vw; 
  height: 200vh; 
  background-color: #FFECEB; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  margin-top: calc(100vw * 8 / 9 + 20rem);
}